<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>Job</th>
		</tr>
	</thead>
	<% unless @job.video.empty? && @job.subtitle.empty? %>
	<tr>
		<td>Video</td>
		<td>
			<%= @job.video_name %>
		</td>
	</tr>
	<tr>
		<td>Subtitle</td>
		<td>
			<%= @job.subtitle.split('/').last %>
		</td>
	</tr>
	<% end %>
</table>
<div class="pull-right"><a class="btn btn-small span2" href="/clean_job"><i class="icon-remove-sign"></i> Clean</a></div>