<div id="video" class="row text-center">
	<video controls autoplay width="800px" height="450px">
	     <source src="<%= media_uri%>">
	</video>
</div>

<div class="row text-center">
	<button class="btn" type="button" id="video_reload" style="margin-top:10px">Video Reload</button>
</div>



