<tr>
	<td class='span10'>
		<%= file.split('/').last %>
	</td>
	<td class='span2'>
		<div class='text-center'><a class="btn btn-small" href="/add_to_job?type=subtitle&file=<%= file %>"><i class="icon-plus"></i> Add</a></div>
	</td>
</tr>