<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>Subtitle</th>
			<th><!-- <div class="text-center">Action</div> --></th>
		</tr>
	</thead>
	<% @subtitle_files.each do |file| %>
		<%= partial(:subtitle_file, :file => file) %>
	<% end %>
</table>