<form action="/task" method="post">
	<legend>Add Task To Xunlei</legend>
	<div class="input-append">
	  <input class="span10" id="appendedInputButton" type="text" name="url">
	  <button class="btn" type="submit"> Add Task </button>
	</div>
</form>